*{
    margin: 0;
    padding: 0;
}

.student-details{
    border: 1px solid black;
    width: fit-content;
    padding: 10px;
}

.student-details>:nth-child(1){
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}
